
{% extends 'base.html' %}

{% block content %}

    <b><strong>{{ message }}</strong></b>
        <div class="col-md-8">
            <ul>
                {% for week in weeks %}
                    <li>{{ week.season.league.name }} {{ week.season.year }} | Week: {{ week.number }} |
                        Date: {{ week.date }} - <a href="{% url 'match_list' week.id %}">edit</a> |
                        <a href="">view</a></li>
                {% endfor %}
            </ul>
        </div>
    
{% endblock %}